PRIVATE_KEY=3jgLYxE5x5grZFanB99aL1GcjFnmDYDUbCScc5pi9PTgon9Mit3YSnsqEy6EX8rSZBAMQcyEZtuBbNTxzNGygH2r
COMMITMENT_LEVEL=processed
RPC_ENDPOINT=https://fra.constellation.hellomoon.io/hmrAAERWETF7EEACM4D
HELIUS_RPC_ENDPOINT=https://beta.helius-rpc.com/?api-key=8547cf0b-3c57-4a7d-b2ca-3ecade39927f
SWQOS_ENDPOINT=https://twisted-minotaur.fleet.hellomoon.io/swqos/hmrAAERWETF7EEACM4D
GRPC_ENDPOINT=https://fra.constellation.hellomoon.io:2083/
SHRED_ENDPOINT=http://nyc.constellation.hellomoon.io:2096/
API_KEY=92423f6b-02cc-40fe-a31d-05fbf357d57e
X_API_KEY=hmrAAERWETF7EEACM4D
QUOTE_AMOUNT=0.1
SLIPPAGE=20
PRICE_DIFFERENCE_PERCENTAGE=0.1
MINIMUM_PROFIT=0.000007

TELEGRAM_BOT_TOKEN=8512378663:AAFBOnx4R7iBOWq_CaOO12hhzrAGMNZVJXw
TELEGRAM_CHAT_ID=6394062222

BLOCK_ENGINE_URL=https://frankfurt.mainnet.block-engine.jito.wtf
ISJITO=false